<div class='flexContent'>
	<div class='content'>
		<ng-template #controlButtons>
			<div class="columns controlButtons">
				<div class="column">
					<a class="button is-large is-primary" *ngIf="chapterPrevious" (click)="chapterRoute.previous()"> Previous </a>
				</div>
				<div class="column">
					<a class="button is-large is-primary" [routerLink]="['/novel/', idNovel]"> Table of Contents </a>
				</div>
				<div class="column">
					<a class="button is-large is-primary" *ngIf="chapterNext" (click)="chapterRoute.next()"> Next </a>
				</div>
			</div>
		</ng-template>

		<ng-container *ngTemplateOutlet="controlButtons"></ng-container>
		<ng-container *ngIf="chapter">
			<h1 class='title'>{{ this.renderedTitle }}</h1>
			<hr />
			<div class="novel-content" [innerHTML]="renderedText | safeHtml">

			</div>
		</ng-container>
		<ng-container *ngTemplateOutlet="controlButtons"></ng-container>
	</div>

	<div class="show-sidebar" (click)="toogleSidebar()"></div>
	<div class="sidebar" [hidden]="!showSidebar">
		<app-chapter-sidebar #SidebarChild (Sidebar2Chapter)="translateText($event)"></app-chapter-sidebar>
	</div>
</div>
<ng-keyboard-shortcuts [shortcuts]="shortcuts"></ng-keyboard-shortcuts>
<ng-keyboard-shortcuts-help [key]="'f1'" [title]="'Help'"></ng-keyboard-shortcuts-help>