.controlButtons{
    margin-top: 1px;
    a{
        width:100%;
        text-align: center;
    }
}
.content {
    & > h1.title {
        color: #fff;
    }
}
.novel-content{
    color: white;
    
    .replaced {
        background-color:rgb(99, 99, 99);
    }
    .replaced.sufix {
        background-color:rgb(206, 116, 116);
    }
    .replaced.prefix {
        background-color:rgb(116, 118, 206);
    }
}
.flexContent{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;

    .sidebar {
        z-index: 20;
        width:400px;
        position:fixed;
        left: 0px;
        margin-right:10px;
        height:calc(100% - 100px);
        top: 100px;
        // height:100%;
        // top: 0px;
        bottom: 0px;
        overflow-y: auto;
        background: #5e009f;

        &:hover {
            width:80%;
            max-width:800px;
        }
    }
    .content {
        width: calc(100% - 410px);
        height: calc(100% - 100px);
        right: 0px;
        position:fixed;
        overflow-y: auto;
        overflow-x: hidden;
    }
}
.help-modal__body {
    min-width:700px;
    color: #000;
}