.controlButtons{
    margin-top: 1px;
    a{
        width:100%;
        text-align: center;
    }
}
.title, .novel-content{
    color: white;
}
.flexContent{
    display: flexbox;
    flex-direction: row;
    width: 100%;
    height: 100%;
    .content {
        width: calc(100% - 500px);
        height:100%;
    }
    .sidebar {
        z-index: 20;
        width:500px;
        position:fixed;
        height:100%;
        right: 0px;
        top: 0px;
        bottom: 0px;
        overflow-y: auto;
        background: #5e009f;
    }
}
