<ng-template #controlButtons>
	<div class="columns controlButtons">
		<div class="column">
			<a class="button is-large is-primary" *ngIf="chapterPrevious" [routerLink]="['/novel/', idNovel, chapterPrevious.no]"> Previous </a>
		</div>
		<div class="column">
			<a class="button is-large is-primary" [routerLink]="['/novel/', idNovel]"> Table of Contents </a>
		</div>
		<div class="column">
			<a class="button is-large is-primary" *ngIf="chapterNext" [routerLink]="['/novel/', idNovel, chapterNext.no]"> Next </a>
		</div>
	</div>
</ng-template>

<ng-container *ngTemplateOutlet="controlButtons"></ng-container>
<ng-container *ngIf="chapter">
	<h1 class='title'>{{ chapter.title }}</h1>
	<hr />
	<div class="novel-content" innerHTML="{{ chapter.textOriginal }}">
		
	</div>
</ng-container>
<ng-container *ngTemplateOutlet="controlButtons"></ng-container>