<ng-template #actionButtons>
	<div class="columns actionButtons">
		<div class="column">
			<a [routerLink]="['/novel/add']" class="button is-info">Add Novel</a>
		</div>
	</div>
</ng-template>


<div>
	<ng-container *ngTemplateOutlet="actionButtons"></ng-container>
	<table class='table is-striped is-hoverable is-fullwidth'>
		<thead>
			<tr>
				<th [ngClass]="{'orderedBy': currentSort.by == 'id'}" style="width:65px;">
					ID
					<i class="fas fa-sort-numeric-down" *ngIf="currentSort.by != 'id' || currentSort.dir != '-'" (click)="sort('id', '-')"></i>
					<i class="fas fa-sort-numeric-up" *ngIf="currentSort.by == 'id' && currentSort.dir == '-'" (click)="sort('id', '+')"></i>
				</th>
				<th>
					Code
				</th>
				<th [ngClass]="{'orderedBy': currentSort.by == 'name'}">
					Name
					<i class="fas fa-sort-alpha-down" *ngIf="currentSort.by != 'name' || currentSort.dir != '-'" (click)="sort('name', '-')"></i>
					<i class="fas fa-sort-alpha-up" *ngIf="currentSort.by == 'name' && currentSort.dir == '-'" (click)="sort('name', '+')"></i>
				</th>
				<th [ngClass]="{'orderedBy': currentSort.by == 'nameJP'}">
					Name Japanese
					<i class="fas fa-sort-alpha-down" *ngIf="currentSort.by != 'nameJP' || currentSort.dir != '-'" (click)="sort('nameJP', '-')"></i>
					<i class="fas fa-sort-alpha-up" *ngIf="currentSort.by == 'nameJP' && currentSort.dir == '-'" (click)="sort('nameJP', '+')"></i>
				</th>
				<th [ngClass]="{'orderedBy': currentSort.by == 'chapters'}" style="width:120px;">
					Chapters
					<i class="fas fa-sort-numeric-down" *ngIf="currentSort.by != 'chapters' || currentSort.dir != '-'" (click)="sort('chapters', '-')"></i>
					<i class="fas fa-sort-numeric-up" *ngIf="currentSort.by == 'chapters' && currentSort.dir == '-'" (click)="sort('chapters', '+')"></i>
				</th>
				<th [ngClass]="{'orderedBy': currentSort.by == 'driver'}" style="text-align:center;width:100px;">
					Driver
					<i class="fas fa-sort-alpha-down" *ngIf="currentSort.by != 'driver' || currentSort.dir != '-'" (click)="sort('driver', '-')"></i>
					<i class="fas fa-sort-alpha-up" *ngIf="currentSort.by == 'driver' && currentSort.dir == '-'" (click)="sort('driver', '+')"></i>
				</th>
				<th style="width:76px;">
					Status
				</th>
				<th [ngClass]="{'orderedBy': currentSort.by == 'added'}" style="width:125px;">
					Added By
					<i class="fas fa-sort-alpha-down" *ngIf="currentSort.by != 'added' || currentSort.dir != '-'" (click)="sort('added', '-')"></i>
					<i class="fas fa-sort-alpha-up" *ngIf="currentSort.by == 'added' && currentSort.dir == '-'" (click)="sort('added', '+')"></i>
				</th>
				<th style="text-align:center;width:160px;">
					Actions
				</th>
			</tr>
		</thead>
		<tbody>
			<ng-container *ngFor="let novel of novels" >
				<tr title="{{ novel.nameOriginal }}" *ngIf="novel.show" [ngClass]="{'disabled': updating[novel.id] }">
					<td>{{ novel.id }}</td>
					<td [routerLink]="['/novel/', novel.id]">{{ novel.code }}</td>
					<td [routerLink]="['/novel/', novel.id]">{{ novel.nameCustom }}</td>
					<td [routerLink]="['/novel/', novel.id]">{{ novel.nameOriginal }}</td>
					<td [routerLink]="['/novel/', novel.id]">{{ novel.numberChapters }}</td>
					<td>{{ novel.driver }}</td>
					<td class="status">
						<i *ngIf="novel.completed" class="fas fa-envelope has-text-success" title="Complete"></i>
						<i *ngIf="!novel.completed" class="fas fa-envelope-open-text has-text-info" title="Still going"></i>
						<i *ngIf="novel.flagR18" class="fas fa-user-secret has-text-danger" title="R18"></i>
						<i *ngIf="!novel.flagR18" class="fas fa-user-secret has-text-grey-lighter" title="Everyone"></i>
					</td>
					<td>{{ novel.addedBy }}</td>
					<td>
						<a href="{{ novel.urlSource }}" target="_blank">
							<i class="has-text-info fas fa-external-link-alt" title="Source"></i>
						</a>
						<a [routerLink]="['/novel/dictionary', novel.id]">
							<i class=" fas fa-book-open" title="Dictionaries"></i>
						</a>
						<a (click)="updateChapters(novel.id)">
							<i class="has-text-info fas fa-sync" title="Update Chapters"></i>
						</a>
						<a [routerLink]="['/novel/edit', novel.id]">
							<i class="has-text-success fas fa-edit" title="Edit"></i>
						</a>
						<a (click)="delete(novel.id);">
							<i class="has-text-danger fas fa-trash" title="Delete"></i>
						</a>
					</td>
				</tr>
			</ng-container>
			<ng-template #success>
				<a class='button is-success'>
					<span class="icon is-small">
						<i class="fas fa-check"></i>
					</span>
				</a>
			</ng-template>
			<ng-template #danger>
				<a class='button is-danger'>
					<span class="icon is-small">
						<i class="fas fa-times"></i>
					</span>
				</a>
			</ng-template>
		</tbody>
	</table>
</div>
