header {
	background: #5e009f;
	padding:0px;
	margin:0px;
    height:100px;
    cursor: pointer;

    & > * {
        float:left;
    }
    & > .appName {
        height: 100%;
    }
    & > ul {
        list-style: none;
        height: 100%;
        padding:0px;
        margin:0px;

        & li {
            height: 100%;
            display:block;
            float:left;
            margin: 25px 0px 0px 20px;

            & a {
                margin: auto;
                height:50px;
                border-radius:20px 20px 0px 20px;
                color: #ffffff;

                &:after {
                    content: '';
                    display:block;
                    width: 0;
                    height: 0;
                    border: 13px solid transparent;
                    border-right-color: inherit;
                    position: absolute;
                    bottom: -14px;
                    right: -14px;
                    transform: rotate(-135deg);
                }
            }
        }
    }
}
