<ul class="dictionaryList">
    <li class="dictionary-selector" *ngIf="dictionaries.length > 0">
        <select class='select' [(ngModel)]="dictionarySelector" (change)="dictionarySelected($event.target.value)">
            <option value='' selected='selected'>Choose a language</option>
            <option *ngFor="let option of dictionaries" value="{{option.id}}">{{ option.language }}</option>
        </select>
        <input type="button" class="button" value="Refresh Translation" (click)="refreshTranslation()" />
    </li>
    <ng-container *ngFor="let category of categories; let i = index">
        <li class='categories'>
            <h1 (click)="selectOpenCategory = i">
                <input class="category-name" type="text" [(ngModel)]="category.name" placeholder="Category Name" />
            </h1>
        </li>
        <li class="entries" [ngClass]="{'hidden': (selectOpenCategory != i)}">
            <ng-container *ngFor="let entry of category.entries">
                <input class="entry-original" type="text" [(ngModel)]="entry.entryOriginal" placeholder="Original" />
                <input class="entry-translation" type="text" [(ngModel)]="entry.entryTranslation" placeholder="Translation" />
                <input class="entry-description" type="text" [(ngModel)]="entry.description" placeholder="Description" />
            </ng-container>
            <input type="button" (click)="addEntry(category.entries, category.id)" value='+ Add new Entry' />
        </li>
    </ng-container>
    <li class="categories">
        <input type="button" (click)="addCategory()" value='+ Add new Category'  class="category-name" />
    </li>
</ul>
