<div>
	<table class='table is-striped is-hoverable is-fullwidth'>
		<thead>
			<tr>
				<th>Name</th>
				<th>Chapters</th>
				<th width="60px">Status</th>
				<th width="60px">Actions</th>
			</tr>
		</thead>
		<tbody>
			<ng-container *ngFor="let novel of novels" >
				<tr title="{{ novel.nameOriginal }}" *ngIf="novel.show">
					<td [routerLink]="['/novel/', novel.id]">{{ novel.nameCustom }}</td>
					<td class="noChapters">{{ novel.numberChapters }}</td>
					<td class="status">
						<i *ngIf="novel.completed" class="fas fa-envelope has-text-success" title="Complete"></i>
						<i *ngIf="!novel.completed" class="fas fa-envelope-open-text has-text-info" title="Still going"></i>
						<i *ngIf="novel.flagR18" class="fas fa-user-secret has-text-danger" title="R18"></i>
						<i *ngIf="!novel.flagR18" class="fas fa-user-secret has-text-grey-lighter" title="Everyone"></i>
					</td>
					<td class="actions">
						<i class="fas fa-sync" title="Update chapters" (click)="updateChapters(novel.id)">

						</i>
						<a [routerLink]="['/novel/edit', novel.id]">
							<i class="fas fa-edit"></i>
						</a>
					</td>
				</tr>
			</ng-container>
		</tbody>
	</table>
</div>
