.table {
	.fas {
		margin:3px;
		font-size: 20px;
		vertical-align: super;
		cursor:pointer;
	}
	.noChapters {
		width:60px;
		text-align:center;
	}
	.status {
		width:80px;
	}
	.actions {
		width:80px;
	}
}