<ng-template #actionButtons>
	<div class="columns actionButtons">
        <div class="column">
            <a [routerLink]="['/novel/dictionary', idNovel]" class="button is-primary">Dictionary</a>
        </div>
		<div class="column" *ngIf="novel && !novel.flagSyosetu">
			<a routerLink="['/novel/',idNovel,'add']" class="button is-info">Import Chapter</a>
		</div>
		<div class="column" *ngIf="novel && novel.flagSyosetu">
			<a (click)="updateChapters()" class="button is-info">Update Chapters</a>
		</div>
		<div class="column" *ngIf="novel && novel.flagSyosetu">
			<a (click)="downloadChapter()" class="button is-info">Add Next Chapter</a>
		</div>
	</div>
</ng-template>

<ng-container *ngTemplateOutlet="actionButtons"></ng-container>
<div>
	<table class='table is-striped is-hoverable is-fullwidth'>
		<thead>
			<tr>
				<th>Number</th>
				<th>Title</th>
				<th>Date Created</th>
				<th>Date Updated</th>
				<th>Dictionary<br />Google Translator</th>
				<!--th>Actions</th-->
			</tr>
		</thead>
		<tbody>
			<ng-container *ngFor="let chapter of chapters" >
				<tr title="{{ novel.title }}">
					<td>{{ chapter.no }}</td>
					<td [routerLink]="['/novel/', chapter.idNovel, chapter.no]">{{ chapter.title }}</td>
					<td [routerLink]="['/novel/', chapter.idNovel, chapter.no]">{{ chapter.dateOriginalPost }}</td>
					<td [routerLink]="['/novel/', chapter.idNovel, chapter.no]">{{ chapter.dateOriginalRevision }}</td>
                    <!--td><ng-container *ngIf="chapter.hasText == 1; then success else danger"></ng-container></td-->
                    <td>
                        <a *ngFor="let dictionary of dictionaries" (click)="openGT(chapter,dictionary);">{{dictionary.language}}</a>
                    </td>
					<!--td>
						<a [routerLink]="['/novel/', chapter.idNovel, chapter.no, 'edit']">UPD</a>
						/
						<a [routerLink]="['/novel/', chapter.idNovel, chapter.no, 'del']">DEL</a>
					</td-->
					<ng-template #success>
						<a class='button is-success'>
							<span class="icon is-small">
								<i class="fas fa-check"></i>
							</span>
						</a>
					</ng-template>
					<ng-template #danger>
						<a class='button is-danger'>
							<span class="icon is-small">
								<i class="fas fa-times"></i>
							</span>
						</a>
					</ng-template>
				</tr>
			</ng-container>
		</tbody>
	</table>
</div>
