<ng-template #actionButtons>
	<div class="columns actionButtons">
        <div class="column">
            <a [routerLink]="['/novel/', idNovel,'dictionary']" class="button is-primary">Dictionary</a>
        </div>
		<div class="column" *ngIf="novel && novel.driver == 'manual'">
			<a routerLink="['/novel/',idNovel,'add']" class="button is-info">Import Chapter</a>
		</div>
		<div class="column" *ngIf="novel && novel.driver != 'manual'">
			<a (click)="updateChapters()" class="button" [ngClass]="{'is-danger': disableupdate > 0, 'is-info': disableupdate == 0}">Update Chapters</a>
		</div>
		<div class="column" *ngIf="novel && novel.driver == 'kakuyomu'">
			<a (click)="updateAllChapters()" class="button" [ngClass]="{'is-danger': disableupdate > 0, 'is-info': disableupdate == 0}">Update All Chapters (Alternative)</a>
		</div>
		<!--div class="column" *ngIf="novel && novel.driver == 'syosetu'">
			<a (click)="downloadChapter()" class="button is-info">Add Next Chapter</a>
		</div-->
	</div>
</ng-template>
<div id="novelInfo" *ngIf="novel">
	<p>Name:<br /><b>{{ novel.nameCustom }}</b></p>
	<p>Original:<br /><b>{{ novel.nameOriginal }}</b></p>
	<p>Number of Chapters:<br /><b>{{ novel.numberChapters }}</b></p>
	<p>Source:<br /><a href="{{ novel.urlSource }}" target="_blank">{{ novel.urlSource }}</a></p>
</div>
<div id='novelTable'>
	<ng-container *ngTemplateOutlet="actionButtons"></ng-container>
	<table class='table is-striped is-hoverable'>
		<thead>
			<tr>
				<th [ngClass]="{'orderedBy': currentSort.by == 'number'}">
					Number
					<i class="fas fa-sort-numeric-down" *ngIf="currentSort.by != 'number' || currentSort.dir != '-'" (click)="sort('number', '-')"></i>
					<i class="fas fa-sort-numeric-up" *ngIf="currentSort.by == 'number' && currentSort.dir == '-'" (click)="sort('number', '+')"></i>
				</th>
				<th>
					Arc
				</th>
				<th [ngClass]="{'orderedBy': currentSort.by == 'title'}">
					Title
					<i class="fas fa-sort-alpha-down" *ngIf="currentSort.by != 'title' || currentSort.dir != '-'" (click)="sort('title', '-')"></i>
					<i class="fas fa-sort-alpha-up" *ngIf="currentSort.by == 'title' && currentSort.dir == '-'" (click)="sort('title', '+')"></i>
				</th>
				<th [ngClass]="{'orderedBy': currentSort.by == 'created'}">
					Date Created
					<i class="fas fa-sort-numeric-down" *ngIf="currentSort.by != 'created' || currentSort.dir != '-'" (click)="sort('created', '-')"></i>
					<i class="fas fa-sort-numeric-up" *ngIf="currentSort.by == 'created' && currentSort.dir == '-'" (click)="sort('created', '+')"></i>
				</th>
				<th [ngClass]="{'orderedBy': currentSort.by == 'updated'}">
					Date Updated
					<i class="fas fa-sort-numeric-down" *ngIf="currentSort.by != 'updated' || currentSort.dir != '-'" (click)="sort('updated', '-')"></i>
					<i class="fas fa-sort-numeric-up" *ngIf="currentSort.by == 'updated' && currentSort.dir == '-'" (click)="sort('updated', '+')"></i>
				</th>
				<th>
					Dictionary<br />Google Translator
				</th>
				<th>
					Actions
				</th>
				<!--th>Actions</th-->
			</tr>
		</thead>
		<tbody>
			<ng-container *ngFor="let chapter of chapters" >
				<tr title="{{ novel.title }}" [ngClass]="{'disabled': updating && updating[chapter.no]}">
					<td>{{ chapter.no }}</td>
					<td [routerLink]="['/novel/', chapter.idNovel, chapter.no]">{{ chapter.arc }}</td>
					<td [routerLink]="['/novel/', chapter.idNovel, chapter.no]">{{ chapter.title }}</td>
					<td [routerLink]="['/novel/', chapter.idNovel, chapter.no]">{{ chapter.dateOriginalPost }}</td>
					<td [routerLink]="['/novel/', chapter.idNovel, chapter.no]">{{ chapter.dateOriginalRevision }}</td>
                    <!--td><ng-container *ngIf="chapter.hasText == 1; then success else danger"></ng-container></td-->
                    <td>
                        <p *ngFor="let dictionary of dictionaries" >
							<a (click)="openGT(chapter,dictionary);">{{dictionary.language}}</a>
						</p>
                    </td>
					<td>
						<i class="fas fa-align-justify is-danger" *ngIf="!chapter.hasText" title="Text is not loaded"></i>
						<i class="fas fa-align-justify" *ngIf="chapter.hasText" title="Text is loaded"></i>
						<a (click)="updateChapter(chapter.no)">
							<i class="has-text-info fas fa-sync" title="Update Chapter"></i>
						</a>
						<a href="{{ chapter.urlSource }}" target="_blank">
							<i class="has-text-info fas fa-external-link-alt" title="Source"></i>
						</a>
						<!--a [routerLink]="['/novel/', chapter.idNovel, chapter.no, 'edit']">UPD</a>
						/
						<a [routerLink]="['/novel/', chapter.idNovel, chapter.no, 'del']">DEL</a-->
					</td>
					<ng-template #success>
						<a class='button is-success'>
							<span class="icon is-small">
								<i class="fas fa-check"></i>
							</span>
						</a>
					</ng-template>
					<ng-template #danger>
						<a class='button is-danger'>
							<span class="icon is-small">
								<i class="fas fa-times"></i>
							</span>
						</a>
					</ng-template>
				</tr>
			</ng-container>
		</tbody>
	</table>
</div>