<ng-template #actionButtons>
	<div class="columns actionButtons">
		<div class="column">
			<a [routerLink]="['/novel/dictionary', idNovel, idDictionary, 'add']" class="button is-info">Add Category</a>
		</div>
	</div>
</ng-template>

<ng-container *ngTemplateOutlet="actionButtons"></ng-container>

<div>
	<table class='table is-striped is-hoverable is-fullwidth'>
		<thead>
			<tr>
				<th>Name</th>
				<th style="width: 200px;"># of Entries</th>
				<th style="width: 150px;">Actions</th>
			</tr>
		</thead>
		<tbody class="clickable-table">
			<tr *ngFor="let category of categories"  [routerLink]="['/novel/dictionary', idNovel, idDictionary, category.id]">
				<td>{{ category.name }}</td>
				<td>-</td>
				<td>
                    <a [routerLink]="['/novel/dictionary', idNovel, idDictionary, category.id, 'edit']" class="icon has-text-success">
                        <i class="fas fa-info-circle"></i>
                    </a>
                    /
                    <a [routerLink]="['/novel/dictionary', idNovel, idDictionary, category.id, '/del']" class="icon has-text-danger">
                        <i class="fas fa-ban"></i>
                    </a>
				</td>
			</tr>
		</tbody>
	</table>
</div>
